.Counter {
    grid-area: 1 / 6 / 2 / 8;
    border-radius: 5px;
    background-color: #FFCC03;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 2vmin);

    padding-top: 8px;
    padding-left: 5%;
    padding-right: 5%;
    min-width: 5rem;
    margin-top: 10%;
    height: 8vh;
}

.Counter span {
    margin-left: 5%;
}