.Wrapper {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../Wrapper/../../assets/background1.png);
    background-size: cover;
    background-position: center;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 300;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

